.footer {
    color: white;
    background-color: black;
    height: 150px;
}

.footer-item {
    padding: 10px;
}

.social-links {
    position: relative;
    left: 45%;
}

.social-link {
    margin-left: 10px;
    margin-top: 20px;
}

.non-socials {
    position: relative;
    bottom: 30px;
}